:root{
    --red: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --light_grayish_violet: hsl(270, 3%, 87%);
    --dark_grayish_violet: hsl(279, 6%, 55%);
    --very_dark_violet: hsl(278, 68%, 11%);
}
*{
    box-sizing: border-box;
}
body{
    
    margin:0;
    font-family: "Space Grotesk";
    color: var(--very_dark_violet);
}
input{
    padding: 10px;
    font-family: "Space Grotesk";
    font-size: 1.1rem;
    border: 1px solid var(--light_grayish_violet);
    border-radius: 8px;

}
button{
    font-family: "Space Grotesk";
    font-size: 1.1rem;
    border-radius: 8px;
    border: 1px solid var(--very_dark_violet);
    background-color: var(--very_dark_violet);
    color: var(--light_grayish_violet)
}
button:disabled{
    background-color: var(--light_grayish_violet);
    border: 1px solid var(--light_grayish_violet);
    color: var(--dark_grayish_violet);
}
input::placeholder{
    color: var(--light_grayish_violet);
}
.container{
    max-width: 2560px;
    margin: 0 auto;
    display: grid;
    gap:50px;

}

.hero{
    height: 230px;
    width:100%;
    background-image: url("images/bg-main-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:var(--white);
    
}
.hero__cards{
    max-width: 425px;
    padding-left:20px;
    padding-right:20px;
    margin: 0 auto;
}
.hero__cardback{
    
    background-image: url("images/bg-card-back.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 164px;
    width:299px;
    margin-top: 30px;
    padding: 20px;
    float: right;
    transition: left 300ms;
    border-radius: 8px;
    left: 0%;
 
}
.cardback__cvc{
    margin-left: 210px;
    margin-top: 50px;
    display: block;
}
.hero__cardfront{
    background-image: url("images/bg-card-front.png");
    height: 170px;
    width: 300px;
    border-radius: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    padding: 20px;
    margin-top: -66px;   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "logo logo"
    "number number"
    "name date";
    transition: left 300ms;
    left: 0%;
}
.cardfront__logo{
    display: block;
    margin-bottom:30px;
    height: 30px;
    grid-area: logo;
    
}
.cardfront__number{
    display: block;
    font-size: 17px;
    letter-spacing: 2px;
    margin-bottom:10px;
    grid-area: number;
}
.cardfront__name{
    text-transform: uppercase;
    font-size: 12px;
    grid-area: name;
}
.cardfront__date{
    font-size: 10px;
    text-align: right;
    grid-area: date;
}
.cardform{
    margin: 70px auto;
    max-width: 425px;
    max-height: 320px;
    margin-top: 80px;
    padding-left: 20px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-areas: 
    "fname fname fname fname"
    "inname inname inname inname"
    "fnumber fnumber fnumber fnumber"
    "innumber innumber innumber innumber"
    "date date cvc cvc"
    "inm iny incvc incvc"
    "btn btn btn btn" ;
    gap:7px;
}
.cardform__fname{
    grid-area: fname;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;;
}
.cardform__iname{
    grid-area: inname;
    padding:10px;
}
.cardform__lnumber{
    grid-area:fnumber;
}
.cardform__inumber{
    grid-area: innumber;
    padding:10px;
}
.cardform__ldate{
    grid-area: date;
}
.cardform__lcvc{
    grid-area:cvc;
}
.cardform__imonth{
    grid-area: inm;
    padding:10px;
}
.cardform__iyear{
    grid-area: iny;
    padding:10px;
}
.cardform__icvc{
    grid-area: incvc;
    padding:10px;
}
.cardform__btn{
    grid-area: btn;
    padding:10px;
    margin-top: 15px;
}
@media(min-width:768px){
    .container{
        grid-template-columns: 1fr 3fr ;
        gap:0;
    }
    .hero{
        background-image: url("images/bg-main-desktop.png");
        height:100vh;
    }
    .hero__cardfront{
        height: 180px;
        width: 328px;
        position:relative;
        top: -10px;

    }
    
    .hero__cardback{
        height: 180px;
        width: 328px;
        position:relative;
        top: 350px;
        box-shadow: 41px 35px 65px -19px rgba(0,0,0,0.23);
    }
    .cardback__cvc{
        margin-left: 240px;
        margin-top: 58px;
    }
    
    .cardform{
        margin-top:150px;
    }
    @media(min-width:868px){
        .hero__cardback{     
            left:50px;
        }
    }
    @media(min-width:968px){
        .hero__cardback{     
            left:100px;
        }
    }
    @media(min-width:1068px){
        .hero__cardback{
            
            left:150px;
        }
        .hero__cardfront{
            left:50px;
        }
    }
     @media(min-width:1168px){

   
        .hero__cardback{
            
            left:200px;
        }
        .hero__cardfront{
            left:100px;
        }
    } 
    
   
}